USE [du_an_06]
GO
/****** Object:  Table [dbo].[account]    Script Date: Monday, 13, 12, 2021 22:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fullname] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](250) NULL,
	[phone] [varchar](15) NULL,
	[hire_date] [date] NOT NULL,
	[salary] [money] NOT NULL,
	[gender] [bit] NULL,
	[birthdate] [date] NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authorized]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorized](
	[authorized_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[authorized_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[food_id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[content] [nvarchar](max) NULL,
	[createdate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[favorite_id] [int] IDENTITY(1,1) NOT NULL,
	[food_id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[food_id] [int] NOT NULL,
	[food_name] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[photo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foodCategory]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodCategory](
	[foodCategory_id] [int] IDENTITY(1,1) NOT NULL,
	[foodCategory_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[foodCategory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foodDetail]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodDetail](
	[food_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[description] [nvarchar](max) NULL,
	[size_id] [int] NOT NULL,
	[image_title1] [varchar](255) NULL,
	[image_title2] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderDetail]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderDetail](
	[orderDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[food_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[orderDate] [date] NOT NULL,
	[discount] [int] NULL,
	[note] [nvarchar](255) NULL,
	[status] [int] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: Monday, 13, 12, 2021 22:05:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

Go
ALTER TABLE [dbo].[authorized]  WITH CHECK ADD  CONSTRAINT [fk_au_acc] FOREIGN KEY([username])
REFERENCES [dbo].[account] ([username])
GO
ALTER TABLE [dbo].[authorized] CHECK CONSTRAINT [fk_au_acc]
GO
ALTER TABLE [dbo].[authorized]  WITH CHECK ADD  CONSTRAINT [fk_au_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[authorized] CHECK CONSTRAINT [fk_au_role]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [fk_cmt_acc] FOREIGN KEY([username])
REFERENCES [dbo].[account] ([username])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [fk_cmt_acc]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [fk_cmt_f] FOREIGN KEY([food_id])
REFERENCES [dbo].[food] ([food_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [fk_cmt_f]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [fk_fav_f] FOREIGN KEY([food_id])
REFERENCES [dbo].[food] ([food_id])
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [fk_fav_f]
GO
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [fk_favorite_acc] FOREIGN KEY([username])
REFERENCES [dbo].[account] ([username])
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [fk_favorite_acc]
GO
ALTER TABLE [dbo].[foodDetail]  WITH CHECK ADD  CONSTRAINT [fk_fd_f] FOREIGN KEY([food_id])
REFERENCES [dbo].[food] ([food_id])
GO
ALTER TABLE [dbo].[foodDetail] CHECK CONSTRAINT [fk_fd_f]
GO
ALTER TABLE [dbo].[foodDetail]  WITH CHECK ADD  CONSTRAINT [fk_fd_fc] FOREIGN KEY([category_id])
REFERENCES [dbo].[foodCategory] ([foodCategory_id])
GO
ALTER TABLE [dbo].[foodDetail] CHECK CONSTRAINT [fk_fd_fc]
GO
ALTER TABLE [dbo].[foodDetail]  WITH CHECK ADD  CONSTRAINT [fk_fd_size] FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([size_id])
GO
ALTER TABLE [dbo].[foodDetail] CHECK CONSTRAINT [fk_fd_size]
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD  CONSTRAINT [fk_orD_F] FOREIGN KEY([food_id])
REFERENCES [dbo].[food] ([food_id])
GO
ALTER TABLE [dbo].[orderDetail] CHECK CONSTRAINT [fk_orD_F]
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD  CONSTRAINT [fk_orD_Od] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orderDetail] CHECK CONSTRAINT [fk_orD_Od]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_acc] FOREIGN KEY([username])
REFERENCES [dbo].[account] ([username])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_acc]
GO

INSERT [dbo].[account] ([username], [password], [fullname], [email], [address], [phone], [hire_date], [salary], [gender], [birthdate], [image]) VALUES (N'dathx', N'123', N'Hoang Xuan Dat', N'dathx@gmail.com', N'Dak Lak122', N'0375578191', CAST(N'2017-05-05' AS Date), 2700.0000, 1, CAST(N'1998-04-25' AS Date), N'45917244_991687064366718_841433094568280064_o_thumb.jpg')
INSERT [dbo].[account] ([username], [password], [fullname], [email], [address], [phone], [hire_date], [salary], [gender], [birthdate], [image]) VALUES (N'phucvh', N'123', N'Vu Hoang Phuc', N'phucvh@gmail.com', N'Dong Thap', N'0375578192', CAST(N'2017-05-05' AS Date), 2300.0000, 1, CAST(N'1997-03-05' AS Date), N'cand1.jpg')
INSERT [dbo].[account] ([username], [password], [fullname], [email], [address], [phone], [hire_date], [salary], [gender], [birthdate], [image]) VALUES (N'phuocqd', N'123', N'Quach Diem Phuoc', N'phuocqd@gmail.com', N'TPHCM', N'0375578193', CAST(N'2017-05-05' AS Date), 2200.0000, 1, CAST(N'1999-07-23' AS Date), N'ky-niem-76-nam-thanh-lap-cong-an-nhan-dan-2_920_552_901.jpg')
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name]) VALUES (1, N'Manager')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (2, N'Staff')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (5, N'Guest')
SET IDENTITY_INSERT [dbo].[role] OFF
GO

SET IDENTITY_INSERT [dbo].[authorized] ON 

INSERT [dbo].[authorized] ([authorized_id], [username], [role_id]) VALUES (1, N'vuongnm', 1)
INSERT [dbo].[authorized] ([authorized_id], [username], [role_id]) VALUES (2, N'vuongnm', 2)
INSERT [dbo].[authorized] ([authorized_id], [username], [role_id]) VALUES (3, N'dathx', 4)
SET IDENTITY_INSERT [dbo].[authorized] OFF
GO
INSERT [dbo].[food] ([food_id], [food_name], [price], [photo]) VALUES (0, N'Pizza double seafood pesto', 10.5300, N'image-df.jpg')
INSERT [dbo].[food] ([food_id], [food_name], [price], [photo]) VALUES (1, N'Chicken In Teriyaki1111', 22.3500, N'feature-item-1.jpg')
INSERT [dbo].[food] ([food_id], [food_name], [price], [photo]) VALUES (2, N'Hotdog With Sausage', 30.3500, N'feature-item-2.jpg')
GO
SET IDENTITY_INSERT [dbo].[foodCategory] ON 

INSERT [dbo].[foodCategory] ([foodCategory_id], [foodCategory_name], [description]) VALUES (1, N'Dishes', N'no')
INSERT [dbo].[foodCategory] ([foodCategory_id], [foodCategory_name], [description]) VALUES (2, N'Nuts & Green', N'no')
INSERT [dbo].[foodCategory] ([foodCategory_id], [foodCategory_name], [description]) VALUES (3, N'Smoothies', N'no')
SET IDENTITY_INSERT [dbo].[foodCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([size_id], [name]) VALUES (1, N'small')
INSERT [dbo].[size] ([size_id], [name]) VALUES (2, N'medium')
INSERT [dbo].[size] ([size_id], [name]) VALUES (3, N'large')
SET IDENTITY_INSERT [dbo].[size] OFF
GO


SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [food_id], [username], [content], [createdate]) VALUES (1, 15089, N'vuongnm', N'Quá tuyệt vời!!', CAST(N'2021-12-13T20:53:59.480' AS DateTime))
INSERT [dbo].[comment] ([comment_id], [food_id], [username], [content], [createdate]) VALUES (2, 19951, N'vuongnm', N'Ngon quá nha!!', CAST(N'2021-12-13T21:41:34.510' AS DateTime))
INSERT [dbo].[comment] ([comment_id], [food_id], [username], [content], [createdate]) VALUES (3, 15089, N'vuongnm', N'Hơi nhạt nha!!', CAST(N'2021-12-13T21:42:14.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[favorite] ON 

INSERT [dbo].[favorite] ([favorite_id], [food_id], [username]) VALUES (3, 2, N'vuongnm')
INSERT [dbo].[favorite] ([favorite_id], [food_id], [username]) VALUES (4, 3, N'vuongnm')
INSERT [dbo].[favorite] ([favorite_id], [food_id], [username]) VALUES (5, 2, N'vuongnm')
SET IDENTITY_INSERT [dbo].[favorite] OFF
GO
INSERT [dbo].[foodDetail] ([food_id], [category_id], [status], [description], [size_id], [image_title1], [image_title2]) VALUES (1, 1, 1, N'no', 1, N'feature-item-1.jpg', N'feature-item-1.jpg')
INSERT [dbo].[foodDetail] ([food_id], [category_id], [status], [description], [size_id], [image_title1], [image_title2]) VALUES (2, 1, 1, N'no', 2, N'feature-item-2.jpg', N'feature-item-2.jpg')
INSERT [dbo].[foodDetail] ([food_id], [category_id], [status], [description], [size_id], [image_title1], [image_title2]) VALUES (3, 4, 1, N'no', 1, N'feature-item-3.jpg', N'feature-item-3.jpg')
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [username], [orderDate], [discount], [note], [status], [address]) VALUES (1, N'phuocqd', CAST(N'2021-09-29' AS Date), 10, N'', 5, N'HCM')
INSERT [dbo].[orders] ([order_id], [username], [orderDate], [discount], [note], [status], [address]) VALUES (2, N'phucvh', CAST(N'2021-09-29' AS Date), 10, N'', 1, N'HCM')
INSERT [dbo].[orders] ([order_id], [username], [orderDate], [discount], [note], [status], [address]) VALUES (3, N'phuocqd', CAST(N'2021-09-29' AS Date), 5, N'', 4, N'HCM')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO

SET IDENTITY_INSERT [dbo].[orderDetail] ON 

INSERT [dbo].[orderDetail] ([orderDetail_id], [order_id], [food_id], [quantity], [price]) VALUES (1, 1, 1, 1, 22.3500)
INSERT [dbo].[orderDetail] ([orderDetail_id], [order_id], [food_id], [quantity], [price]) VALUES (2, 2, 1, 1, 22.3500)
INSERT [dbo].[orderDetail] ([orderDetail_id], [order_id], [food_id], [quantity], [price]) VALUES (3, 3, 2, 1, 30.3500)
SET IDENTITY_INSERT [dbo].[orderDetail] OFF
GO

/****** Object:  StoredProcedure [dbo].[sp_bestSellingProduct]    Script Date: Monday, 13, 12, 2021 22:05:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   PROC [dbo].[sp_bestSellingProduct](@Month int, @Year int)
AS
   BEGIN
      select food_id, sum(ordD.quantity) as 'luong san pham'
      from dbo.orders ord inner join dbo.orderDetail ordD 
      on ord.order_id = ordD.order_id
      where year(ord.orderDate) = @Year and MONTH(ord.orderDate) = @Month
      group by food_id
      order by sum(ordD.quantity) desc
   END;
GO
/****** Object:  StoredProcedure [dbo].[sp_cancelPaypal]    Script Date: Monday, 13, 12, 2021 22:05:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   proc [dbo].[sp_cancelPaypal]
as
begin
   delete from dbo.orders where order_id in (
select max(order_id) from dbo.orders
)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_FindRevenueByMonth]    Script Date: Monday, 13, 12, 2021 22:05:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROC  [dbo].[sp_FindRevenueByMonth](@Month int)
	AS
		BEGIN
			SELECT SUM(ordD.quantity*ordD.price)
			FROM dbo.orders ord inner join dbo.orderDetail ordD
			ON ord.order_id = ordD.order_id
			WHERE MONTH(ord.orderDate) = @Month and ord.status = 4
	END;
GO
